<div class="main">
  <form action="">
    <div>
      <h2>Категорія</h2>
      <label>
        <input type="checkbox" name="scales">
        Категорія
      </label>
    </div>
    <hr>
    <div>
      <h2>Вид зайнятості</h2>
      <label>
        <input type="checkbox" name="scales">
        зайнятості
      </label>
    </div>
    <hr>
    <div>
      <h2>Хочу зарплату:</h2>
      <div>
        <span>от</span>
        <div>
          <input type="text">
        </div>
        <span>грн.</span>

      </div>
      <div>
        <label>
          <input type="checkbox" name="scales" checked>
          Показывать вакансии без з.п.
        </label>
      </div>



    </div>
  </form>
</div>
