<div class="list" *ngIf="vacancies| async as list">

  <app-searcher ></app-searcher>
  <button (click)="search()">Search</button>


  <div class="has-text-centered">

    <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
    <pagination-controls  [maxSize]='max' (pageChange)="getPage($event)" id="server"></pagination-controls>
    <span>Total:{{totalLength}}</span>
  </div>
  <app-card
    *ngFor="let vacancy  of list | paginate: {id:'server', itemsPerPage: 10, currentPage: page, totalItems:totalLength }"
  [vacancy]="vacancy"
  ></app-card>

</div>
