.card {
  height: 370px;
  width: 750px;
  border-radius: 5px;
  background: #FFFFFF;
  box-shadow: 0px 10px 10px rgba(5, 5, 6, 0.05);
  overflow: hidden;

  .container {
    padding: 20px;

    .banner {
      display: inline;
      font-size: 14px;
      padding: 2px 10px;
      line-height: 20px;
      height: 20px;

      &.new {
        background-color: #FFE9E9;
        color: #BC0002;
      }

      &.hot {
        background-color: #FFF59D;
        color: #AA3300;
      }
    }

    .name {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 60px;

      .logo {
        img {
          width: 120px;
          height: 60px;
        }
      }
    }

    .salary {
      height: 20px;
      margin: 5px 0;
      span {
        opacity: 0.5;
      }
    }

    .company{
      margin: 10px 0;
      height: 20px;
      p{
        font-size: 16px;
        font-style: normal;
        font-weight: normal;
        display: inline;
        color: #FF5252;
        margin-right: 10px;
      }
    }

    .badges{
      display: flex;
      margin: 10px 0;
      //height: 20px;
      align-items: center;
      //overflow-x: auto;
      //overflow-y: hidden;
      //white-space: nowrap;
      .badgeItem{
        border: 1px solid #C8D1D6;
        margin-right: 10px;
        padding: 5px 10px;
        border-radius:5px ;
        box-sizing: border-box;
      }
    }

    .actions{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 40px;
      padding: 5px 0;
      margin: 10px 0;
      .buttons{
        display: flex;
        align-items: center;

        .uploader{
          cursor: pointer;
          margin-right: 20px;
        }
        input{
          display: none;

        }
        button{
          border: none;
          margin-right: 20px;
          background-color: white;
          cursor: pointer;
        }
      }

      .time{
        opacity: .5;
      }

    }

  }
}
