
@font-face {
    font-family: "Graphik";
    src: local("Graphik"), url(https://images.cf-rabota.com.ua/2017/05/fonts/graphik/Graphik-Regular-Web.woff2) format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Graphik";
    src: local("Graphik"), url(https://images.cf-rabota.com.ua/2017/05/fonts/graphik/Graphik-Bold-Web.woff2) format("truetype");
    font-weight: bold;
}

body {
    margin: 0 auto;
    background-color: #E5E5E5;
    font-family: 'Graphik';
}
