/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "Graphik";
  src: local("Graphik"),
    url(https://images.cf-rabota.com.ua/2017/05/fonts/graphik/Graphik-Regular-Web.woff2)
      format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Graphik";
  src: local("Graphik"),
    url(https://images.cf-rabota.com.ua/2017/05/fonts/graphik/Graphik-Bold-Web.woff2)
      format("truetype");
  font-weight: bold;
}

body {
  margin: 0 auto;
  background-color: #e5e5e5;
  font-family: "Graphik";
}

.uploadcare--widget__button_type_open {
  display: none;
}
.uploadcare--widget__button {
  display: none;
}
.uploadcare--widget__file-size {
  display: none;
}
.uploadcare--widget__text {
  position: absolute;
  display: inline-block;
  box-sizing: border-box;
  margin-right: 0.2em;
  padding: 0.4em 0;
  white-space: nowrap;
}
.uploadcare--link,
.uploadcare--link:link,
.uploadcare--link:visited {
  display: none;
}
#uploadcare--widget__text {
  display: none;
}
#uploadcare--widget__progress {
  padding-left: 10px;
}
